
@{
    ViewData["Title"] = "Cancellation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="container" class="container-fluid">
    <div class="row">
        <div class="col-md-12 box accordion">
            <div class="box-header">
                <div class="box-title">Rezygnacja z usługi</div>
                <div class="box-accordion-button"></div>
            </div>
            <div class="box-container">
                <div class="container new-section">
                    <div style="text-align:center; line-height:25px">
                        <text>
                            Szanowny Kliencie,<br />
                            Dziękujemy za zapoznanie się z ofertą i zapraszamy w przyszłości do korzystania z naszych usług.
                        </text>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
